<div class="titlePart">
  <span>Radio Button</span>
</div>

<div class="radioButtonContainer">
  <rd-radio-button [(value)]="value" [color]="'blue-light'">
    <rd-radio-button-option [value]="'Bene Gesserit'">Bene Gesserit</rd-radio-button-option>
    <rd-radio-button-option [value]="'Bene Tleilax'">Bene Tleilax</rd-radio-button-option>
    <rd-radio-button-option [value]="'Honored Matres'">Honored Matres</rd-radio-button-option>
  </rd-radio-button>
  Value: {{value}}
</div>


<div class="explanation">
  <app-explanation>
    <div class="titlePart">
      <span>HTML Tag</span>
    </div>

    <div><b>rd-radio-button</b></div>

    <div class="titlePart">
      <span>Parameters:</span>
    </div>

    <div class="option">
      <table>
        <tr>
          <td>Content &lt;rd-radio-button-option&gt;</td>
          <td>The options available</td>
        </tr>
        <tr>
          <td>@Input() color: string</td>
          <td>gold(default), green, red, blue, blue-light, purple, orange, black, gradient-blue, gradient-peach</td>
        </tr>
        <tr>
          <td>@Input() value: string</td>
          <td>empty by default</td>
        </tr>
        <tr>
          <td>@Input() display: string</td>
          <td>Display style: line (default), block</td>
        </tr>
        <tr>
          <td>@Output() valueChange</td>
          <td>Event emitted when the state of a button change</td>
        </tr>
      </table>
    </div>

    <div class="titlePart">
      <span>HTML Tag</span>
    </div>

    <div><b>rd-radio-button-option</b></div>

    <div class="titlePart">
      <span>Parameters:</span>
    </div>

    <div class="option">
      <table>
        <tr>
          <td>Content</td>
          <td>The displayed text</td>
        </tr>
        <tr>
          <td>@Input() value: string</td>
          <td>empty by default</td>
        </tr>
        <tr>
          <td>@Output() checkedChange</td>
          <td>Event emitted when the state of the button change</td>
        </tr>
      </table>
    </div>
  </app-explanation>
</div>

