<div class="titlePart">
  <span>Carousel</span>
</div>

<div class="carousel">
  <rd-carousel>
    <rd-carousel-data (displayChange)="changeDisplay($event)">
      <div class="carouselImg">
        <img src="https://stmed.net/sites/default/files/dune-wallpapers-29516-4438731.jpg">
        <span>Arrakis</span>
      </div>
    </rd-carousel-data>
    <rd-carousel-data (displayChange)="changeDisplay($event)">
      <div class="carouselImg">
        <img src="https://i.pinimg.com/originals/9c/65/07/9c65071899c8c179adda73ca7ab237b6.jpg">
        <span>Caladan</span>
      </div>
    </rd-carousel-data>
  </rd-carousel>
</div>



<div class="explanation">
  <app-explanation>
    <rd-tabs-group>
      <rd-tabs [title]="'Information'">
        <div class="titlePart">
          <span>HTML Tag</span>
        </div>

        <div><b>rd-carousel</b></div>

        <div class="titlePart">
          <span>Parameters:</span>
        </div>

        <div class="option">
          <table>
            <tr>
              <td>Content rd-carousel-data</td>
              <td>The carousel's pages</td>
            </tr>
            <tr>
              <td>@Input() height: number</td>
              <td>Height of the carousel; 250 by default</td>
            </tr>
          </table>
        </div>

        <div class="titlePart">
          <span>HTML Tag</span>
        </div>

        <div><b>rd-carousel-data</b></div>

        <div class="titlePart">
          <span>Parameters:</span>
        </div>

        <div class="option">
          <table>
            <tr>
              <td>Content</td>
              <td>Page data</td>
            </tr>
          </table>
        </div>
      </rd-tabs>

      <rd-tabs [title]="'Example'">
        <div class="titlePart">
          <span>HTML</span>
        </div>

        <div highlightChildren>
          <pre><code [textContent]="htmlCode"></code></pre>
        </div>

        <div class="titlePart">
          <span>Typescript</span>
        </div>

        <div highlightChildren>
          <pre><code [textContent]="tsCode"></code></pre>
        </div>
      </rd-tabs>
    </rd-tabs-group>
  </app-explanation>
</div>
