<div class="titlePart">
  <span>Card</span>
</div>

<div class="listContainer">
  <div class="elementList">

    <div class="cardList">
      <rd-card>
        <div class="card">
          <div class="img">
            <img src="https://stmed.net/sites/default/files/dune-wallpapers-29516-4438731.jpg">
          </div>
          <div class="name">
            Arrakis
          </div>
        </div>
      </rd-card>
    </div>
    <div class="cardList">
      <rd-card>
        <div class="card">
          <div class="img">
            <img src="https://i.pinimg.com/originals/90/71/c4/9071c49a6950913ed32ada26f4c096e9.jpg">
          </div>
          <div class="name">
            Paul
          </div>
        </div>
      </rd-card>
    </div>
    <div class="cardList">
      <rd-card>
        <div class="card">
          <div class="img">
            <img src="https://i.pinimg.com/originals/9c/65/07/9c65071899c8c179adda73ca7ab237b6.jpg">
          </div>
          <div class="name">
            Caladan
          </div>
        </div>
      </rd-card>
    </div>

  </div>

  <div class="explanation">
    <app-explanation>
      <rd-tabs-group>
        <rd-tabs [title]="'Informations'">
          <div class="titlePart">
            <span>HTML Tag</span>
          </div>

          <div><b>rd-card</b></div>

          <div class="titlePart">
            <span>Parameters:</span>
          </div>

          <div class="option">
            <table>
              <tr>
                <td>Content</td>
                <td>The content of the card</td>
              </tr>
            </table>
          </div>
        </rd-tabs>

        <rd-tabs [title]="'Example'">
          <div class="titlePart">
            <span>HTML</span>
          </div>

          <pre><code [highlight]="htmlCode"></code></pre>
        </rd-tabs>
      </rd-tabs-group>
    </app-explanation>
  </div>
</div>
