<div class="titlePart">
  <span>Rolling Dice</span>
</div>

<div class="diceContainer">
  <rd-dice [diceSize]="100" (rollValue)="rollValue($event)"></rd-dice>
  <span>You roll a {{value}} on 100</span>
</div>

<div class="explanation">
  <app-explanation>
    <rd-tabs-group>
      <rd-tabs [title]="'Informations'">
        <div class="titlePart">
          <span>HTML Tag</span>
        </div>

        <div><b>rd-dice</b></div>

        <div class="titlePart">
          <span>Parameters:</span>
        </div>

        <div class="option">
          <table>
            <tr>
              <td>@Input() diceSize: number</td>
              <td>Maximum value of the dice; between 6(default) and 100</td>
            </tr>
            <tr>
              <td>@Output() rollValue: number</td>
              <td>Event emitted when the dice has rolled; Send the rolled value</td>
            </tr>
          </table>
        </div>
      </rd-tabs>

      <rd-tabs [title]="'Example'">
        <div class="titlePart">
          <span>HTML</span>
        </div>

        <div highlightChildren>
          <pre><code [textContent]="htmlCode"></code></pre>
        </div>

        <div class="titlePart">
          <span>Typescript</span>
        </div>

        <div highlightChildren>
          <pre><code [textContent]="tsCode"></code></pre>
        </div>
      </rd-tabs>
    </rd-tabs-group>
  </app-explanation>
</div>
