@import "../../style/variables";

.explanation {
  width: 100%;

  .div {
    width: 100%;
  }

  .content {
    transition: max-height 0.2s ease-out;
    width: 100%;
    padding: 0 $margin $margin;

    &:not(.expand) {
      overflow: hidden;
      max-height: 0;
    }

    &.expand {
      box-shadow: $shadow;
    }
  }

  .expandButton {
    padding: $margin;
    text-align: center;
    box-shadow: $shadow;

    span {
      padding-left: $margin;
    }
  }
}
