<div class="titlePart">
  <span>Confirm Modal</span>
</div>

<div class="modalContainer">
  <span (click)="openModal()">Open Modal</span>
  <rd-confirm-modal #modal (acceptModal)="acceptModal()" (cancelModal)="cancelModal()" (closedModal)="closeModal()">
    <div class="modalContent">
      <cite>Don’t fear me. Forget mystery and accept love. There’s no mystery about love. It comes from life. Can’t you feel that?</cite>
      <blockquote>Paul Muad'Dib</blockquote>
    </div>
  </rd-confirm-modal>
</div>

<div class="explanation">
  <app-explanation>
    <rd-tabs-group>
      <rd-tabs [title]="'Informations'">
        <div class="titlePart">
          <span>HTML Tag</span>
        </div>

        <div><b>rd-confirm-modal</b></div>

        <div class="titlePart">
          <span>Parameters:</span>
        </div>

        <div class="option">
          <table>
            <tr>
              <td>Content</td>
              <td>The modal's content</td>
            </tr>
            <tr>
              <td>@Input() width: number</td>
              <td>Width of the modal in percentage; 50 by default</td>
            </tr>
            <tr>
              <td>@Input() maxHeight: number</td>
              <td>Max height of the modal in percentage; 80 by default</td>
            </tr>
            <tr>
              <td>@Input() acceptText: string</td>
              <td>The text inside the accept button; 'Accept' by default</td>
            </tr>
            <tr>
              <td>@Input() cancelText: string</td>
              <td>The text inside the cancel button; 'Cancel' by default</td>
            </tr>
            <tr>
              <td>@Output() closedModal</td>
              <td>Event emitted when the modal is closed;</td>
            </tr>
            <tr>
              <td>@Output() acceptModal</td>
              <td>Event emitted by clicking on the accept button</td>
            </tr>
            <tr>
              <td>@Output() cancelModal</td>
              <td>Event emitted by clicking on the cancel button</td>
            </tr>
          </table>
        </div>
      </rd-tabs>

      <rd-tabs [title]="'Example'">
        <div class="titlePart">
          <span>HTML</span>
        </div>

        <div highlightChildren>
          <pre><code [textContent]="htmlCode"></code></pre>
        </div>

        <div class="titlePart">
          <span>Typescript</span>
        </div>

        <div highlightChildren>
          <pre><code [textContent]="tsCode"></code></pre>
        </div>
      </rd-tabs>
    </rd-tabs-group>
  </app-explanation>
</div>
