<div class="titlePart">
  <span>Tooltip</span>
</div>

<div class="tooltipContainer">
  <span>Stilgar explains why the choice of "
    <rd-tooltip [color]="'blue-light'" [position]="'top'" [width]="250">
      <span text>Muad'Dib</span>
      <span explanation>Muad'Dib is wise in the ways of the desert.</span>
    </rd-tooltip>
    " pleases the Fremen
  </span>
</div>


<div class="explanation">
  <app-explanation>
    <rd-tabs-group>
      <rd-tabs [title]="'Information'">
        <div class="titlePart">
          <span>HTML Tag</span>
        </div>

        <div><b>rd-tooltip</b></div>

        <div class="titlePart">
          <span>Parameters:</span>
        </div>

        <div class="option">
          <table>
            <tr>
              <td>Content text</td>
              <td>The text displayed</td>
            </tr>
            <tr>
              <td>Content explanation</td>
              <td>The explantion displayed inside the tooltip</td>
            </tr>
            <tr>
              <td>@Input() position: string</td>
              <td>The position of th tooltip; 'bottom'(default), 'top', 'left', 'right';</td>
            </tr>
            <tr>
              <td>@Input() color: string</td>
              <td>The color of the tooltip; black(default), gold, blue, blue-light, red, green, orange, purple</td>
            </tr>
            <tr>
              <td>@Input() style: string</td>
              <td>The style of the tooltip's text; dotted(default), underline;</td>
            </tr>
            <tr>
              <td>@Input() width: number</td>
              <td>The width of the toolbar explanation; null by default</td>
            </tr>
          </table>
        </div>

      </rd-tabs>

      <rd-tabs [title]="'Example'">
        <div class="titlePart">
          <span>HTML</span>
        </div>

        <div highlightChildren>
          <pre><code [textContent]="htmlCode"></code></pre>
        </div>
      </rd-tabs>
    </rd-tabs-group>
  </app-explanation>
</div>
