<div class="titlePart">
  <span>Text Editor</span>
</div>

<div class="editorContainer">
  <rd-text-editor [height]="height" (getSelection)="getSelection($event)" [(text)]="text">
  </rd-text-editor>
</div>

<div class="explanation">
  <app-explanation>
    <rd-tabs-group>
      <rd-tabs [title]="'Information'">
        <div class="titlePart">
          <span>HTML Tag</span>
        </div>

        <div><b>rd-text-editor</b></div>

        <div class="titlePart">
          <span>Parameters:</span>
        </div>

        <div class="option">
          <table>
            <tr>
              <td>@Input() text: string</td>
              <td>empty by default</td>
            </tr>
            <tr>
              <td>@Input() height: number</td>
              <td>Height of the text editor; 200 by default</td>
            </tr>
            <tr>
              <td>@Output() textChange: string</td>
              <td>Event emitted when the text has been changed</td>
            </tr>
            <tr>
              <td>@Output() getSelection: string</td>
              <td>Event emitted when a part of text is selected</td>
            </tr>
          </table>
        </div>
      </rd-tabs>

      <rd-tabs [title]="'Example'">
        <div class="titlePart">
          <span>HTML</span>
        </div>

        <div highlightChildren>
          <pre><code [textContent]="htmlCode"></code></pre>
        </div>

        <div class="titlePart">
          <span>Typescript</span>
        </div>

        <div highlightChildren>
          <pre><code [textContent]="tsCode"></code></pre>
        </div>
      </rd-tabs>
    </rd-tabs-group>
  </app-explanation>
</div>
