@import "../../../style/variables";

.titlePart {
  text-transform: uppercase;
  font-weight: bold;
  color: $gold;
  margin-bottom: 2 * $margin;
  margin-top: 3 * $margin;

  span {
    position: relative;
    margin-left: calc(5% + 6px);

    &:after {
      content: '';
      width: 120%;
      height: 2px;
      background-color: $gold;
      position: absolute;
      bottom: -3px;
      left: 0;
    }
  }
}

.modalContainer, .explanation {
  width: 80%;
  margin: $margin 10%;
  cursor: pointer;
  color: var(--text-color);
  @include defaultTransition();
}

.modalContainer .modalContent {
  padding: 3*$margin;
  background-color: var(--background);
}

.option {

  table, tr {
    width: 100%;
    padding: $margin;
  }

  tr:nth-child(odd) {
    background-color: var(--table-odd);
    @include defaultTransition();
  }

  td {
    padding: $margin;
    width: 50%;
  }
}
