<div class="titlePart">
  <span>Modal</span>
</div>

<div class="modalContainer">
  <span (click)="openModal()">Open Modal</span>
  <rd-modal [width]="40"  #modal>
    <div class="modalContent">
        <cite (click)="clickOnCitation($event)">I must not fear. Fear is the mind-killer. Fear is the little-death that brings total obliteration.
          I will face my fear. I will permit it to pass over me and through me. And when it has gone past
          I will turn the inner eye to see its path. Where the fear has gone there will be nothing. Only I will remain.
        </cite>
        <blockquote (click)="closeModal()">Bene Gesserit Litany Against Fear.</blockquote>
    </div>
  </rd-modal>
</div>

<div class="explanation">
  <app-explanation>
    <rd-tabs-group>
      <rd-tabs [title]="'Informations'">
        <div class="titlePart">
          <span>HTML Tag</span>
        </div>

        <div><b>rd-modal</b></div>

        <div class="titlePart">
          <span>Parameters:</span>
        </div>

        <div class="option">
          <table>
            <tr>
              <td>Content</td>
              <td>The modal's content</td>
            </tr>
            <tr>
              <td>@Input() width: number</td>
              <td>Width of the modal in percentage; 50 by default</td>
            </tr>
            <tr>
              <td>@Input() maxHeight: number</td>
              <td>Max height of the modal in percentage; null by default</td>
            </tr>
            <tr>
              <td>@Output() closedModal</td>
              <td>Event emitted when the modal is closed;</td>
            </tr>
          </table>
        </div>
      </rd-tabs>

      <rd-tabs [title]="'Example'">
        <div class="titlePart">
          <span>HTML</span>
        </div>

        <div highlightChildren>
          <pre><code [textContent]="htmlCode"></code></pre>
        </div>

        <div class="titlePart">
          <span>Typescript</span>
        </div>

        <div highlightChildren>
          <pre><code [textContent]="tsCode"></code></pre>
        </div>
      </rd-tabs>
    </rd-tabs-group>
  </app-explanation>
</div>
