@import "../../../style/variables";

.titlePart {
  text-transform: uppercase;
  font-weight: bold;
  color: $gold;
  margin-bottom: 2 * $margin;
  margin-top: 3 * $margin;

  span {
    position: relative;
    margin-left: calc(5% + 6px);

    &:after {
      content: '';
      width: 120%;
      height: 2px;
      background-color: $gold;
      position: absolute;
      bottom: -3px;
      left: 0;
    }
  }
}

.notationContainer, .explanation {
  width: 80%;
  margin: $margin 10%;
}

.option {

  table, tr {
    width: 100%;
    padding: $margin;
  }

  tr:nth-child(odd) {
    background-color: #f2f2f2;
  }

  td {
    padding: $margin;
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .cardList {
    width: 30%;
    margin: $margin (10% / 6);
  }
}


@media screen and (max-width: 992px) {
  .cardList {
    width: 45%;
    margin: $margin 2.5%;
  }
}


@media screen and (max-width: 650px) {
  .cardList {
    width: 90%;
    margin: $margin 5%;
  }
}

