<div class="title">
  Infos
</div>

<div class="infos">
  <div>
    <div class="titlePart">
      <span>Color</span>
    </div>

    <div class="colorPalette">
      <div class="titlePart">
        <span>Main Color</span>
      </div>

      <div class="colorList">
        <rd-card>
          <div class="colorBlock gold"><span>#ba9e5a</span></div>
        </rd-card>
        <rd-card>
          <div class="colorBlock darkBlue"><span>#07384c</span></div>
        </rd-card>
        <rd-card>
          <div class="colorBlock cyan"><span>#11506a</span></div>
        </rd-card>
        <rd-card>
          <div class="colorBlock grey"><span>#e3e3e3</span></div>
        </rd-card>
        <rd-card>
          <div class="colorBlock lightGrey"><span>#f1f1f1</span></div>
        </rd-card>
      </div>
    </div>

    <div class="colorPalette">
      <div class="titlePart">
        <span>Derived Color</span>
      </div>

      <div class="colorList">
        <rd-card>
          <div class="colorBlock blue"><span>#5a5aba</span></div>
        </rd-card>
        <rd-card>
          <div class="colorBlock blueLight"><span>#5aa2ba</span></div>
        </rd-card>
        <rd-card>
          <div class="colorBlock purple"><span>#a25aba</span></div>
        </rd-card>
        <rd-card>
          <div class="colorBlock red"><span>#ba5a5a</span></div>
        </rd-card>
        <rd-card>
          <div class="colorBlock orange"><span>#ba8a5a</span></div>
        </rd-card>
        <rd-card>
          <div class="colorBlock green"><span>#72ba5a</span></div>
        </rd-card>
      </div>
    </div>
  </div>

  <div>
    <div class="titlePart">
      <span>Dark Mode</span>
    </div>
    <div>
      To enable the Dark Mode, just add the `rdDark` class on the body.
    </div>
    <div class="colorPalette">
      <div class="titlePart">
        <span>Dark Color</span>
      </div>
      <div class="colorList">
        <rd-card>
          <div class="colorBlock darkBackground"><span>#0d2a35</span></div>
        </rd-card>
        <rd-card>
          <div class="colorBlock darkGrey"><span>#404040</span></div>
        </rd-card>
      </div>
    </div>
  </div>

  <div>
    <div class="titlePart">
      <span>Modules</span>
    </div>
    <div>
      The RoledenComponentModule imports all components of hte library.<br>
      Each component can be imported separately with his own module. The module's name match RD + the name of the component.
    </div>
  </div>
</div>
