<div class="title">
  Components
</div>

<div class="componentList">
  <app-small-card></app-small-card>
  <app-flipping-card></app-flipping-card>
  <app-list></app-list>
  <app-accordeon></app-accordeon>
  <app-tabs></app-tabs>
  <app-carousel></app-carousel>
  <app-alert></app-alert>
  <app-snack-bar></app-snack-bar>
  <app-tooltip></app-tooltip>
  <app-breadcrumb></app-breadcrumb>
  <app-progress-bar></app-progress-bar>
  <app-notation></app-notation>
  <app-music-player></app-music-player>
  <app-dice></app-dice>
</div>
