<div class="titlePart">
  <span>Progress bar</span>
</div>

<div class="progressBar">
  <rd-progress-bar [color]="'purple'" [width]="25"></rd-progress-bar>
  <rd-progress-bar [display]="true"></rd-progress-bar>
  <rd-progress-bar [color]="'green'" [width]="75" [height]="20"></rd-progress-bar>
</div>

<div class="explanation">
  <app-explanation>
    <rd-tabs-group>
      <rd-tabs [title]="'Informations'">
        <div class="titlePart">
          <span>HTML Tag</span>
        </div>

        <div><b>rd-progress-bar</b></div>

        <div class="titlePart">
          <span>Parameters:</span>
        </div>

        <div class="option">
          <table>
            <tr>
              <td>@Input() color: String</td>
              <td>gold(default), green, red, blue, blue-light, purple, orange, black</td>
            </tr>
            <tr>
              <td>@Input() display: String</td>
              <td>Display the percentage of completion</td>
            </tr>
            <tr>
              <td>@Input() width: Number</td>
              <td>Percentage of completion</td>
            </tr>
            <tr>
              <td>@Input() height: Number</td>
              <td>Height of the Progress Bar</td>
            </tr>
          </table>
        </div>
      </rd-tabs>

      <rd-tabs [title]="'Example'">
        <div class="titlePart">
          <span>HTML</span>
        </div>

        <div highlightChildren>
          <pre><code [textContent]="htmlCode"></code></pre>
        </div>
      </rd-tabs>
    </rd-tabs-group>
  </app-explanation>
</div>
