<div class="titlePart">
  <span>Select</span>
</div>

<div class="selectContainer">
  <rd-select [(value)]="character" [placeholder]="'Kwisatz Haderach'" [color]="'orange'">
    <rd-select-option [value]="'paul'" [text]="'Paul Atreides'">
      <div class="option">Paul Atréides</div>
    </rd-select-option>
    <rd-select-option [value]="'duncan'" [text]="'Duncan Idaho'">
      <div class="option">Duncan Idaho</div>
    </rd-select-option>
    <rd-select-option [value]="'leto'">
      <div class="option last">Leto II Atréides</div>
    </rd-select-option>
  </rd-select>
  <span>Value selected: {{character}}</span>
</div>

<div class="explanation">
  <app-explanation>

    <div class="titlePart">
      <span>HTML Tag</span>
    </div>

    <div><b>rd-select</b></div>

    <div class="titlePart">
      <span>Parameters:</span>
    </div>

    <div class="option">
      <table>
        <tr>
          <td>@Input() value: string</td>
          <td>empty by default</td>
        </tr>
        <tr>
          <td>@Input() placeholder: string</td>
          <td>'Select' by default</td>
        </tr>
        <tr>
          <td>@Input() color: string</td>
          <td>gold(default), green, red, blue, blue-light, purple, orange, black</td>
        </tr>
        <tr>
          <td>@Output() valueChange</td>
          <td>Event emitted when the value has been changed</td>
        </tr>
        <tr>
          <td>Content &lt;rd-select-option&gt;</td>
          <td>The options inside the select menu</td>
        </tr>
      </table>
    </div>

    <div class="titlePart">
        <span>HTML Tag</span>
      </div>

      <div><b>rd-select-option</b></div>

      <div class="titlePart">
        <span>Parameters:</span>
      </div>

      <div class="option">
        <table>
          <tr>
            <td>@Input() value: string</td>
            <td>value of the option</td>
          </tr>
          <tr>
            <td>@Input() text: string</td>
            <td>The text displayed when it's the selected element; The value by default</td>
          </tr>
          <tr>
            <td>@Output() valueSelected</td>
            <td>Event emitted when the value has been selected</td>
          </tr>
          <tr>
            <td>Content</td>
            <td>The content displayed inside the menu</td>
          </tr>
        </table>
      </div>
  </app-explanation>
</div>
