<div class="titlePart">
  <span>Select</span>
</div>

<div class="selectContainer">
  <rd-select [(value)]="character" [placeholder]="'Kwisatz Haderach'" [color]="'orange'">
    <rd-select-option [value]="'paul'" [text]="'Paul Atreides'">Paul Atréides</rd-select-option>
    <rd-select-option [value]="'duncan'" [text]="'Duncan Idaho'">Duncan Idaho</rd-select-option>
    <rd-select-option [value]="'leto'">Leto II Atréides</rd-select-option>
  </rd-select>
  <span>Value selected: {{character}}</span>
</div>

<div class="explanation">
  <app-explanation>

    <div class="titlePart">
      <span>HTML Tag</span>
    </div>

    <div><b>rd-select</b></div>

    <div class="titlePart">
      <span>Parameters:</span>
    </div>

    <div class="option">
      <table>
        <tr>
          <td>@Input() text: string</td>
          <td>empty by default</td>
        </tr>
        <tr>
          <td>@Output() textChange: string</td>
          <td>Event emitted when the text has been changed</td>
        </tr>
      </table>
    </div>
  </app-explanation>
</div>
