<div class="roleden">
  <div class="sideBar" [class.open]="menu">
    <app-sidebar *ngIf="menu"></app-sidebar>
  </div>

  <div class="mainContent">
    <div class="header">
      <div class="headerColor">
        <div class="cyanBlock"></div>
        <div class="goldBlock contact" (click)="openLogin()">
          <span><i class="fas fa-user"></i></span>
        </div>
      </div>
      <div class="headerBar">
        <div class="menu">
        <span (click)="menu = !menu">
          <span *ngIf="!menu"><i class="fas fa-bars"></i></span>
          <span *ngIf="menu"><i class="fas fa-times"></i></span>
        </span>
        </div>
        <div class="title">
          <span>Roleden</span>
        </div>
      </div>
    </div>
    <div class="page">
      <div class="title">
        Roleden Component
      </div>
      <app-small-card></app-small-card>
      <app-button></app-button>
      <app-list></app-list>
      <app-progress-bar></app-progress-bar>
      <app-breadcrumb></app-breadcrumb>
      <app-text-editor></app-text-editor>
      <app-music-player></app-music-player>
      <app-dice></app-dice>
      <app-flipping-card></app-flipping-card>
    </div>
  </div>
</div>
