<div class="roleden">
  <div class="sideBar" [class.open]="menu">
    <app-sidebar *ngIf="menu"></app-sidebar>
  </div>

  <div class="mainContent">
    <div class="header" #header>
      <div class="headerBar">
        <div class="menu">
        <span (click)="menu = !menu">
          <span *ngIf="!menu"><i class="fas fa-bars"></i></span>
          <span *ngIf="menu"><i class="fas fa-times"></i></span>
        </span>
        </div>
        <div class="title">
          <span>Roleden Component</span>
        </div>
      </div>
    </div>
    <div class="page" [@routerAnimation]="routeAnimation(outlet)" #page>
      <rd-alert></rd-alert>
      <rd-snack-bar></rd-snack-bar>
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </div>
</div>
