<div class="roleden">
  <div class="sideBar" [class.open]="menu">
    <app-sidebar *ngIf="menu"></app-sidebar>
  </div>

  <div class="mainContent">
    <div class="header">
      <div class="headerColor">
        <div class="cyanBlock"></div>
        <div class="goldBlock contact" (click)="openLogin()">
          <span><i class="fas fa-user"></i></span>
        </div>
      </div>
      <div class="headerBar">
        <div class="menu">
        <span (click)="menu = !menu">
          <span *ngIf="!menu"><i class="fas fa-bars"></i></span>
          <span *ngIf="menu"><i class="fas fa-times"></i></span>
        </span>
        </div>
        <div class="title">
          <span>Roleden Component</span>
        </div>
      </div>
    </div>
    <div class="page">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
