<div class="nav" #navMenu>
  <div class="navItem" routerLink="components">
    <span class="icon"><i class="fas fa-puzzle-piece"></i></span>
    <div class="text">Component</div>
  </div>
  <div class="navItem" routerLink="form">
    <span class="icon"><i class="fab fa-wpforms"></i></span>
    <div class="text">Form Component</div>
  </div>
  <div class="navItem">
    <a href="https://ng-paint.herokuapp.com/">
      <span class="icon"><i class="fas fa-paint-brush"></i></span>
      <div class="text">Paint</div>
    </a>
  </div>

  <div>
    <rd-check-box (valueChange)="changeDarkMode()" [color]="'blue'">
      <rd-check-box-option>
        <span class="darkMode"><rd-tooltip>
          <span text>Dark Mode</span>
          <span explanation>Add the 'rdDark' class on the body</span>
        </rd-tooltip></span>
      </rd-check-box-option>
    </rd-check-box>
  </div>
</div>
