<div class="nav">
  <div class="navItem">
    <span class="icon"><i class="fas fa-home"></i></span>
    <div class="text">Home</div>
  </div>
  <div class="navItem">
    <span class="icon"><i class="fas fa-edit"></i></span>
    <div class="text">Editor</div>
  </div>
  <div class="navItem">
    <span class="icon"><i class="fas fa-dice"></i></span>
    <div class="text">Game</div>
  </div>
  <div class="navItem">
    <span class="icon"><i class="fab fa-wikipedia-w"></i></span>
    <div class="text">Wiki</div>
  </div>
  <div class="navItem">
    <span class="icon"><i class="fas fa-search"></i></span>
    <div class="text">Workshop</div>
  </div>
</div>
