<div class="nav" #navMenu>
  <div class="navItem" routerLink="components">
    <span class="icon"><i class="fas fa-puzzle-piece"></i></span>
    <div class="text">Component</div>
  </div>
  <div class="navItem" routerLink="form">
    <span class="icon"><i class="fab fa-wpforms"></i></span>
    <div class="text">Form Component</div>
  </div>
  <div class="navItem" routerLink="info">
      <span class="icon"><i class="fas fa-info-circle"></i></span>
      <div class="text">Info</div>
    </div>
  <div class="navItem">
    <a href="https://ng-paint.herokuapp.com/">
      <span class="icon"><i class="fas fa-paint-brush"></i></span>
      <div class="text">Paint</div>
    </a>
  </div>

  <div>
    <rd-button (buttonClick)="changeDarkMode()" [color]="'blue'">
      {{dark? 'Light Mode' : 'Dark Mode'}}
    </rd-button>
  </div>
</div>
