<div class="titlePart">
  <span>List of elements</span>
</div>

<div class="listContainer">
  <div class="elementList">
    <div class="objectButton buttonList">
      <span class="iconList"><i class="fas fa-times"></i></span>
      <div class="text">
        <div>Test 1</div>
        <div>Script</div>
      </div>
    </div>
    <div class="objectButton buttonList">
      <span class="iconList"><i class="fas fa-times"></i></span>
      <div class="text">
        <div>Test 2</div>
        <div>Character</div>
      </div>
    </div>
    <div class="objectButton buttonList">
      <span class="iconList"><i class="fas fa-times"></i></span>
      <div class="text">
        <div>Test 3</div>
        <div>City</div>
      </div>
    </div>
    <div class="objectButton buttonList">
      <span class="iconList"><i class="fas fa-times"></i></span>
      <div class="text">
        <div>Test 1</div>
        <div>Script</div>
      </div>
    </div>
    <div class="objectButton buttonList">
      <span class="iconList"><i class="fas fa-times"></i></span>
      <div class="text">
        <div>Test 2</div>
        <div>Character</div>
      </div>
    </div>
    <div class="objectButton buttonList">
      <span class="iconList"><i class="fas fa-times"></i></span>
      <div class="text">
        <div>Test 3</div>
        <div>City</div>
      </div>
    </div>
    <div class="objectButton buttonList">
      <span class="iconList"><i class="fas fa-times"></i></span>
      <div class="text">
        <div>Test 1</div>
        <div>Script</div>
      </div>
    </div>
    <div class="objectButton buttonList">
      <span class="iconList"><i class="fas fa-times"></i></span>
      <div class="text">
        <div>Test 2</div>
        <div>Character</div>
      </div>
    </div>
    <div class="objectButton buttonList">
      <span class="iconList"><i class="fas fa-times"></i></span>
      <div class="text">
        <div>Test 3</div>
        <div>City</div>
      </div>
    </div>
  </div>
</div>

<div class="titlePart">
  <span>List of colored elements</span>
</div>

<div class="listContainer">
  <div class="elementList">
    <div class="objectButton buttonList">
      <span class="iconList"><i class="fas fa-times"></i></span>
      <div class="text">
        <div>Test 1</div>
        <div>Script</div>
      </div>
    </div>
    <div class="objectButton buttonList green">
      <span class="iconList"><i class="fas fa-times"></i></span>
      <div class="text">
        <div>Test 2</div>
        <div>Character</div>
      </div>
    </div>
    <div class="objectButton buttonList blue">
      <span class="iconList"><i class="fas fa-times"></i></span>
      <div class="text">
        <div>Test 3</div>
        <div>City</div>
      </div>
    </div>
    <div class="objectButton buttonList red">
      <span class="iconList"><i class="fas fa-times"></i></span>
      <div class="text">
        <div>Test 1</div>
        <div>Script</div>
      </div>
    </div>
    <div class="objectButton buttonList purple">
      <span class="iconList"><i class="fas fa-times"></i></span>
      <div class="text">
        <div>Test 2</div>
        <div>Character</div>
      </div>
    </div>
    <div class="objectButton buttonList">
      <span class="iconList"><i class="fas fa-times"></i></span>
      <div class="text">
        <div>Test 3</div>
        <div>City</div>
      </div>
    </div>
    <div class="objectButton buttonList blue">
      <span class="iconList"><i class="fas fa-times"></i></span>
      <div class="text">
        <div>Test 1</div>
        <div>Script</div>
      </div>
    </div>
    <div class="objectButton buttonList green">
      <span class="iconList"><i class="fas fa-times"></i></span>
      <div class="text">
        <div>Test 2</div>
        <div>Character</div>
      </div>
    </div>
    <div class="objectButton buttonList red">
      <span class="iconList"><i class="fas fa-times"></i></span>
      <div class="text">
        <div>Test 3</div>
        <div>City</div>
      </div>
    </div>
  </div>
</div>
