<div class="titlePart">
  <span>Small Card</span>
</div>

<div class="listContainer">
  <div class="elementList">

    <div class="cardList">
      <rd-small-card [color]="'gold'">
        <div role="title">My story - gold</div>
        <div role="type">Script</div>
      </rd-small-card>
    </div>
    <div class="cardList">
      <rd-small-card [color]="'green'">
        <div role="title">My story - green</div>
        <div role="type">Script</div>
      </rd-small-card>
    </div>
    <div class="cardList">
      <rd-small-card [color]="'red'">
        <div role="title">My story - red</div>
        <div role="type">Script</div>
      </rd-small-card>
    </div>
    <div class="cardList">
      <rd-small-card [color]="'blue'">
        <div role="title">My story - blue</div>
        <div role="type">Script</div>
      </rd-small-card>
    </div>
    <div class="cardList">
      <rd-small-card [color]="'blue-light'">
        <div role="title">My story - blue-light</div>
        <div role="type">Script</div>
      </rd-small-card>
    </div>
    <div class="cardList">
      <rd-small-card [color]="'purple'" [icon]="'fa-edit'">
        <div role="title">My story - purple</div>
        <div role="type">Script</div>
      </rd-small-card>
    </div>
    <div class="cardList">
      <rd-small-card [color]="'orange'" [icon]="'fa-edit'">
        <div role="title">My story - orange</div>
        <div role="type">Script</div>
      </rd-small-card>
    </div>

  </div>

  <div class="explanation">
    <app-explanation>
      <rd-tabs-group>
        <rd-tabs [title]="'Informations'">
          <div class="titlePart">
            <span>HTML Tag</span>
          </div>

          <div><b>rd-small-card</b></div>

          <div class="titlePart">
            <span>Parameters:</span>
          </div>

          <div class="option">
            <table>
              <tr>
                <td>Content title</td>
                <td>Inside a div with role="title"</td>
              </tr>
              <tr>
                <td>Content type</td>
                <td>Inside a div with role="type"</td>
              </tr>
              <tr>
                <td>@Input() color: string</td>
                <td>gold(default), green, red, blue, blue-light purple, orange</td>
              </tr>
              <tr>
                <td>@Input() icon: string</td>
                <td>fa-times(default), Any Font Awesome 5 Solid Icon (fas)</td>
              </tr>
              <tr>
                <td>@Output() textClick</td>
                <td>Event emitted by clicking on the text</td>
              </tr>
              <tr>
                <td>@Output() iconClick</td>
                <td>Event emitted by clicking on the icon</td>
              </tr>
            </table>
          </div>
        </rd-tabs>

        <rd-tabs [title]="'Example'">
          <div class="titlePart">
            <span>HTML</span>
          </div>

          <pre><code [highlight]="htmlCode"></code></pre>
        </rd-tabs>
      </rd-tabs-group>
    </app-explanation>
  </div>
</div>
