$dark-blue: #07384c;
$cyan: #11506a;
$gold: #ba9e5a;
$light-gray: #f1f1f1;
$gray: #e3e3e3;

$colored-blue: #5aa2ba;
$colored-green: #72ba5a;
$colored-purple: #a25aba;
$colored-red: #ba5a5a;

$light-background: white;
$light-text: black;

$dark-background: #0d2a35;
$dark-text: white;

$margin: 6px;

$shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);

@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

@mixin centered() {
  position: absolute;
  top: 50%; left: 50%;
  @include transform(translate(-50%, -50%));
}

@mixin defaultTransition() {
  transition: all .3s linear;
}
