<div class="titlePart">
  <span>Accordion</span>
</div>

<div class="accordion">
  <rd-accordion>
    <rd-panel>A</rd-panel>
    <rd-panel>B</rd-panel>
  </rd-accordion>
</div>



<div class="explanation">
  <app-explanation>
    <div class="titlePart">
      <span>HTML Tag</span>
    </div>

    <div><b>rd-accordion</b></div>

    <div class="titlePart">
      <span>Parameters:</span>
    </div>

    <div class="option">
      <table>
        <tr>
          <td>@Input() data: Array&lt;BreadcrumbElementDirective&gt;</td>
          <td>[ ](default)</td>
        </tr>
        <tr>
          <td>@Input() color: string</td>
          <td>gold(default), green, red, blue, blue-light, purple, orange, black</td>
        </tr>
        <tr>
          <td>@Output() fileSelect</td>
          <td>Event emitted by clicking on the button</td>
        </tr>
      </table>
    </div>
  </app-explanation>
</div>
