@import "../../../style/variables";

.titlePart {
  text-transform: uppercase;
  font-weight: bold;
  color: $gold;
  margin-bottom: 2 * $margin;
  margin-top: 3 * $margin;

  span {
    position: relative;
    margin-left: calc(5% + 6px);

    &:after {
      content: '';
      width: 120%;
      height: 2px;
      background-color: $gold;
      position: absolute;
      bottom: -3px;
      left: 0;
    }
  }
}

.cardContainer ,.explanation {
  width: 80%;
  margin: $margin 10%;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .card {
    flex: 1;
    margin: $margin;
    min-width: 300px;
    max-width: 350px;
  }
}

.cardContent {
  height: 200px;
  width: 100%;
  position: relative;
  padding: $margin;
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
  font-size: 25px;

  &:hover {
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.6);
    transform: scale(1.05);
    transition: all 0.5s;
  }
}

.firstFront, .thirdFront {
  overflow: hidden;
  background-image: url('https://stmed.net/sites/default/files/dune-wallpapers-29516-4438731.jpg');

  span {
    @include centered();
    text-shadow: 8px 8px 8px #000000;
  }
}

.secondFront {
  position: relative;
  overflow: hidden;
  background: $gold;

  img {
    @include centered();
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
  }
}

.thirdFront {
  background-image: url('https://i.pinimg.com/originals/9c/65/07/9c65071899c8c179adda73ca7ab237b6.jpg');
}

.firstBack, .secondBack, .thirdBack {
  font-size: 20px;
  background-color: $light-gray;
  color: black;
  position: relative;

  span {
    @include centered();
    width: 80%;
  }

  &:hover {
    transform: none;
  }
}

.secondBack {
  font-size: 13px;
}

.option {

  table, tr {
    width: 100%;
    padding: $margin;
  }

  tr:nth-child(odd) {
    background-color: var(--table-odd);
    @include defaultTransition();
  }

  td {
    padding: $margin;
    width: 50%;
  }
}

