<div class="titlePart">
  <span>Flipping Card</span>
</div>

<div class="cardContainer">
  <div class="card">
    <rd-flipping-card>
      <div front>
        <div class="firstFront cardContent">
          <span>Arrakis</span>
        </div>
      </div>
      <div back>
        <div class="firstBack cardContent">
          <span>Arrakis, Dune, home of the spice, greatest of treasure in the universe. And he who controls it, controls our destiny.</span>
        </div>
      </div>
    </rd-flipping-card>
  </div>

  <div class="card">
    <rd-flipping-card [rounded]="true">
      <div front>
        <div class="secondFront cardContent">
          <img src="https://i.pinimg.com/originals/90/71/c4/9071c49a6950913ed32ada26f4c096e9.jpg">
        </div>
      </div>
      <div back>
        <div class="secondBack cardContent">
          <span>I must not fear. Fear is the mind-killer. Fear is the little-death that brings total obliteration. I will face my fear. I will let it pass over me and through me.
            And when it has passed I will turn the inner eye to see its path. Where it has gone, there will be nothing. Only I will remain.</span>
        </div>
      </div>
    </rd-flipping-card>
  </div>

  <div class="card">
    <rd-flipping-card [bounce]="true" (cardFlipped)="cardFlip($event)">
        <div class="front" front>
          <div class="thirdFront cardContent">
            <span>Caladan</span>
          </div>
        </div>
        <div class="back" back>
          <div class="thirdBack cardContent">
            <span>Third planet of Delta Pavonis, Caladan is the ancestral fiefdom of House Atreides, who have ruled it for twenty-six generations, from the ancient Castle Caladan.</span>
          </div>
        </div>
    </rd-flipping-card>
  </div>
</div>

<div class="explanation">
  <app-explanation>
    <rd-tabs-group>
      <rd-tabs [title]="'Informations'">
        <div class="titlePart">
          <span>HTML Tag</span>
        </div>

        <div><b>rd-flipping-card</b></div>

        <div class="titlePart">
          <span>Parameters:</span>
        </div>

        <div class="option">
          <table>
            <tr>
              <td>Content front</td>
              <td>Front page of the card</td>
            </tr>
            <tr>
              <td>Content back</td>
              <td>Back page of the card</td>
            </tr>
            <tr>
              <td>@Input() rounded: Boolean</td>
              <td>Round the corner of the card, false by default</td>
            </tr>
            <tr>
              <td>@Input() bounce: Boolean</td>
              <td>Give a bounce animation on flip, false by default</td>
            </tr>
            <tr>
              <td>@Input() height: Number</td>
              <td>Height of the card</td>
            </tr>
            <tr>
              <td>@Output() cardFlipped</td>
              <td>Event Emitted when the card is flipped;</td>
            </tr>
          </table>
        </div>
      </rd-tabs>

      <rd-tabs [title]="'Example'">
        <div class="titlePart">
          <span>HTML</span>
        </div>

        <div highlightChildren>
          <pre><code [textContent]="htmlCode"></code></pre>
        </div>

        <div class="titlePart">
          <span>Typescript</span>
        </div>

        <div highlightChildren>
          <pre><code [textContent]="tsCode"></code></pre>
        </div>
      </rd-tabs>
    </rd-tabs-group>
  </app-explanation>
</div>
